trigger:
- main

pool:
  #vmImage: 'windows-latest'
  name: Default
  demands: 
  - Agent.Name -equals DESKTOP-7IPU0FA


steps:
- task: AzureCLI@2
  displayName: "Desplegar DB usando un pipeline"
  inputs:
    azureSubscription: "demo-from-azure-devops"
    scriptType: ps
    scriptLocation: inlineScript
    inlineScript: |
      # Variables
      $RESOURCE_GROUP = "demo-from-azure-devops"
      $LOCATION = "spaincentral"
      $SQL_SERVER_NAME = "laka"
      $ADMIN_USER = "sqladmin"
      $ADMIN_PASSWORD = "StrongPassword123!"
      $DATABASE_NAME = "myDatabase"

      Write-Output "Creando el grupo de recursos..."
      az group create --name $RESOURCE_GROUP --location $LOCATION

      Write-Output "Creando el servidor SQL..."
      az sql server create `
        --name $SQL_SERVER_NAME `
        --resource-group $RESOURCE_GROUP `
        --location $LOCATION `
        --admin-user $ADMIN_USER `
        --admin-password $ADMIN_PASSWORD

      Write-Output "Configurando reglas de firewall para permitir acceso..."
      az sql server firewall-rule create `
        --resource-group $RESOURCE_GROUP `
        --server $SQL_SERVER_NAME `
        --name AllowMyIP `
        --start-ip-address 0.0.0.0 `
        --end-ip-address 255.255.255.255

      Write-Output "Creando la base de datos SQL..."
      az sql db create `
        --resource-group $RESOURCE_GROUP `
        --server $SQL_SERVER_NAME `
        --name $DATABASE_NAME `
        --edition Basic `
        --service-objective Basic

      Write-Output "Despliegue completado exitosamente."
